.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 23.5%);
  grid-template-rows: repeat(4, 25vw);
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.tax-product-type .product-grid{
    grid-template-rows: repeat(1, 25vw);
}
.post-type-archive, .tax-product-type  {
    .type-product{
        display:flex;
        flex-direction: column;
        border: 1px solid #a1a1a1;
    .entry-header{
        flex-grow: 1;
    }
    img {
        // width:100%;
        height:100%;
        object-fit: cover;
    // height: 205px;
    width:100%;
  }
}
  .product-text-container{
      width:100%;
      display:flex;
      padding: 1rem .5rem;
      border-top: 5px solid #a1a1a1;

      .after-dot{
        overflow:hidden;
        white-space:nowrap;
          margin:0; padding:0;
          &:after{
              content: '........................................';
          }
      }
      .price{
          margin:0;
          padding:0;
      }
  }
  .product-terms .product-term {
    border: none;
    text-align: center;
    max-width: 70px;
   
  }
  .product-terms{
      justify-content: center;
      border-bottom: 1px dashed #c8c8c8;
      text-transform: uppercase;
  }
  .site-main section h1{
      text-align: center;
      text-transform: uppercase;
      font-family: 'Novecento Sans Web',sans-serif;
      letter-spacing: 2px;
  }
}
.archive {
  .product-term a{
    color:#248A83;

  }
}

///for single product
.single-product{
  .site-main{
    padding:3rem 4rem;
  }
  article{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:2rem;
    h1{
      margin-top:0;
      color: #d99054;
    }
    img{
      width:100%;
      height:100%;
    }
  }
  .price{
    font-family: Novecento Sans Web;
    font-size: 1.8rem;
    margin-top: 0;
  }
}
