/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
	
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
//layout//
body:not(.home):not(.page-about):not(.post-type-archive):not(.tax-product-type):not(.single-product):not(.single-adventure) .site-content{
	display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}
body:not(.home):not(.page-about) .content-area{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

// search page 
.search .page-header{
	border-bottom: 1px solid #e1e1e1;
    margin-bottom: 3rem;
	padding-bottom: 1rem;
	
}
.search{
	.content-area{
		border-right: 1px solid #e1e1e1;
	}

}