.home{
    header{
    position: absolute;
    display: flex;
    }
    
}

.home-hero{
    background: url(../../assets/images/home-hero.jpg);
  
    background-size: cover;
    min-height: 100vh;
   width: 100vw;
   
 }

.journal-entry-entry{
         display: flex;
 }

 img{
    height: 30vh;
 }

    
     

 