.home{
    header{
    position: absolute;
    display: flex;
    }
    
}

.home-hero{
    background: url(../../assets/images/home-hero.jpg);
  
    background-size: cover;
    min-height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   
 }
 .front-page-content{
     max-width: 1120px;
     margin: auto;
     section h2{
         text-align: center;
     }
 }
 .product-terms{
     display: flex;
    justify-content: space-between;
  .product-term{
    border: 1px solid #e1e1e1;
    text-align: center;
    flex: 1;
    max-width: 23%;
    img{
        height: 10vh;
    }
  }   
 }

.journal-entry-entry{
         display: flex;
        justify-content: space-between;
        width: 100%;
         
         .journal{
             border: 1px solid #e1e1e1;
             text-align: center;
             flex:1;
             max-width: 350px;
             
             
         }
         
 }

.journal-entry-entry img{
    height: 30vh;
 }
 

    
     

 