.site-header {
    display:flex;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
}
.site-branding {
    img{
        height: 40px;
    }

}
.home nav a{
    color: #fff;

}


