.site-header {
    display:flex;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}
.site-branding {
    img{
        height: 40px;
    }

}
.home, .page-about{
    nav a{
    color: #fff;
    }
}
.archive, .archive, .single-product, .blog, .single-post, .page-find-us   {
    nav a{
    color: #248A83;
    }
}


