.site-content{
    display: flex;
    flex-grow: 1;
    // width: 100%;

}
.content-area{
    width: 75%;
    flex-grow: 1;
}
.widget-area{
    width: 35%;
    padding: 3rem;
}
.page-id-5{
    .site-content{
        width: 100%;
    }
}
.page-find-us, .blog, .archive{
    .site-content{
        width: 80%;
        margin: 0 auto

    }
}

.blog h2 a {
    
    background:#248A83;
    position: relative;
    bottom: 30vw;
    font-family: Novecento Sans Web;
}